# vim:ft=gitconfig noet:

[include]
	path = ~/.misc/etc/git/gitconfig

[core]
	attributesfile = ~/.misc/etc/git/gitattributes
	excludesfile = ~/.misc/etc/git/gitignore
	;editor = ~/AppData/Local/Programs/Neovim/bin/nvim.exe
	;sshCommand = "c:/PROGRA~1/PuTTY/plink.exe"
	;sshCommand = "c:/PROGRA~1/Git/usr/bin/ssh.exe"
	;sshCommand = "c:/Windows/System32/OpenSSH/ssh.exe"

[user]
	name = NAKAMURA, Tomohiro
	email = quickness.net@gmail.com

;[http]
	; windows:
	;sslBackend = schannel
	; linux:
	;sslCAinfo =  /etc/ssl/certs/ca-bundle.crt
	;sslBackend = openssl

[sendemail]
	; windows:    /bin/msmtp.exe
	; linux mint: /usr/bin/msmtp
	smtpserver = /mingw64/bin/msmtp.exe

[credential]
	helper = store --file ~/.git-credentials
	helper = cache --timeout=300
